{% load static %}
{% block custom_tag %}
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock custom_tag %}


<nav class="stroke navbar fixed-top navbar-expand-lg navbar-light bg-dark" id="nav-style">
  <div class="navbar-header">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
      <span class="bi bi-list bi-9x" style="color:white;" id="toggler-icon"></span>
  </button>
  </div>
  <div class="navbar-collapse collapse justify-content-center" id="navbarToggler">
    <ul class="navbar-nav p-3">
      <li class="nav-item">
        <a class="navbar-brand text-light" href="{% url 'Posts:home-page'%}"><img  src="{% static 'images/developer-icon.png' %}" height="40"  loading="lazy"/></a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand text-light" href="{% url 'Posts:home-page'%}">Posts</a>
      </li class="nav-item">
      <li>
        <a class="navbar-brand text-light" href="{% url 'Posts:home-page'%}">Add New Post</a>
      </li class="nav-item">
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="navbar-brand text-light" href="{% url 'Account:logout'%}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="navbar-brand text-light" href="{% url 'Account:login'%}">Login</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand text-light" href="{% url 'Account:signup'%}">Sign Up</a>
        </li>
      {% endif %}
    </ul>
    <form class="navbar-form d-flex col-lg-3 col-md-13 col-sm-15 col-xs-10 p-2 " role="search" id="search-bar" method="get">
      <input class="form-control bg-outline-secondary" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary" id="search-button" type="submit">Search</button>
    </form> 
  </div>
</nav>
